
body, html {
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	background-color:black;
	color:grey;
	overflow: hidden;
}

#root{
	height:100%;
}

h1{
	font-size: 1.5em;
	margin:0
}

.App {
	display:grid;
	gap:5px;
	grid-template-columns: 300px 1fr 1fr;
	grid-template-rows: auto 1fr;
	grid-template-areas:
		"head head head"
		"settings prog comp";
	height:100%
}

@media screen and (max-width: 900px) {
	.App {
		grid-template-columns: 1fr;
		grid-template-rows: auto auto 1fr 1fr;
		grid-template-areas:
			"head"
			"settings"
			"prog"
			"comp";
	} 
}



#header{
	grid-area: head;
	padding:10px;
}

#left_editor{
	grid-area: prog;
}

#right_editor{
	grid-area: comp;
}

#settings{
	grid-area:settings;
	padding: 5px;
}

.two_col{
	display: grid;
	gap:3px;
	grid-template-columns: auto 1fr;
}

.parse_ok{
	white-space: pre;
	overflow-y: scroll;
	font-family: monospace;
}

.parse_error{
	white-space: normal;
	color:crimson;
}
label{
	margin-left: 1em;
}